<!--
  Component: checkbox-field
  Path: components/checkbox-field/checkbox-field.html
  Styles: components/checkbox-field/checkbox-field.css
-->
<section id="checkbox-field" class="component component--checkbox-field">
  <h2>Checkbox Field</h2>
  <div class="demo">
    <label class="checkbox-field">
      <input class="checkbox-field__input" type="checkbox" name="remember" />
      <span class="checkbox-field__box" aria-hidden="true"></span>
      <span class="checkbox-field__label">Remember me</span>
    </label>
  </div>
</section>
