<!--
  Component: Datetime-local input
  Path: components/input-datetime-local/input-datetime-local.html
  Styles: components/input-datetime-local/input-datetime-local.css
-->
<section id="input-datetime-local" class="component component--input-datetime-local form-field">
  <h2>Datetime-local input</h2>
  <div class="demo">
    <label for="input-datetime-local-field">Datetime local</label>
    <input id="input-datetime-local-field" name="datetime-local" type="datetime-local">
  </div>
</section>
