<!--
  Component: Picture
  Path: components/picture/picture.html
  Styles: components/picture/picture.css
-->
<section id="picture" class="component component--picture">
  <h2>Picture</h2>
  <div class="demo">
    <picture>
      <source
        media="(min-width: 600px)"
        srcset="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
      <img
        src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
        alt="Responsive Google logo">
    </picture>
  </div>
</section>
