<!--
  Component: Image map
  Path: components/image-map/image-map.html
  Styles: components/image-map/image-map.css
-->
<section id="image-map" class="component component--image-map">
  <h2>Image map</h2>
  <div class="demo">
    <img
      src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
      alt="Clickable regions"
      usemap="#logo-map"
      width="272"
      height="92">
    <map name="logo-map">
      <area
        shape="rect"
        coords="0,0,136,92"
        href="https://www.google.com"
        alt="Left half">
      <area
        shape="rect"
        coords="136,0,272,92"
        href="https://developer.mozilla.org"
        alt="Right half">
    </map>
  </div>
</section>
