/* Component: Forms & inputs
   Markup: components/forms/forms.html
*/

.component--forms {
}

.component--forms label {
  display: inline-block;
  margin: 0.25rem 0.5rem 0.25rem 0;
}

.component--forms input,
.component--forms select,
.component--forms textarea,
.component--forms button {
  font: inherit;
  margin: 0.25rem 0.35rem 0.25rem 0;
}
